@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1,h2,h3{
  margin: 20px 10px;
}

.box-pai{
  width: 99%;
  height: 900px;
  margin:10px;
  padding: 10px;
  background-color: #dae3d4;
  border: 1px solid #cccccc;
}

.active{
    text-decoration: none;
    background-color: #0000ff;
    color: #ffffff;
}
 
/* CRIANDO MENU COM FLEX */

  .cabecalho{
    display: 	flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1120;
    color: #fff;
    
}

.menu{
  display: flex;
  justify-content: space-between;
  
}

.menu a{
  padding: 2rem 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu a:hover{
  background-color: brown;
}



/* CRIANDO MENU COM FLEX */


/* CRIANDO SEÇÃO DE IMAGENS COM FLEX */

.img-sect{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.img-sect > div{
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px; */
  flex:1 1 150px;
  margin: 0.8rem;
}

.img-sect div img{
  max-width: 100%;
  display: block;
}

.img-sect div p{
  text-align: center;
  
}

/* CRIANDO SEÇÃO DE IMAGENS COM FLEX */